<title>Dashboard</title>

<mat-sidenav-container class="dashboard_sidenav">
  <mat-sidenav [class]="sessions.loadMode() ? 'mat-sidenav-dark' : 'mat-sidenav'" mode="side" opened [fixedInViewport]="true">
    <img [src]="sessions.loadMode() ? '\\assets\\Logo-dark.png' : '\\assets\\Logo.png'" class="img_dashboard"/>

    <button fxLayoutAlign="center" mat-flat-button (click)="showConfigs()" color="primary" class="menu_button">
      Configs
      <mat-icon class="menu_button_icon">build</mat-icon>
    </button>

    <button fxLayoutAlign="center" mat-flat-button (click)="showClients()" color="primary" class="menu_button">
      Clients
      <mat-icon class="menu_button_icon">account_box</mat-icon>
    </button>

    <button fxLayoutAlign="center" mat-flat-button (click)="showGroups()" color="primary" class="menu_button">
      Groups
      <mat-icon class="menu_button_icon">group</mat-icon>
    </button>

    <button fxLayoutAlign="center" mat-flat-button (click)="showReports()" color="primary" class="menu_button">
      Reports
      <mat-icon class="menu_button_icon">assignment</mat-icon>
    </button>

    <button fxLayoutAlign="center" mat-flat-button (click)="showSettings()" color="primary" class="menu_button">
      Settings
      <mat-icon class="menu_button_icon">settings</mat-icon>
    </button>

    <button fxLayoutAlign="center" mat-flat-button (click)="goBack()" color="warn" class="menu_button">
      Sign Out
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
