.dashboard-nav {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 10%;
}

.img_dashboard {
  display: block;
  position: relative;
  width: 100%;
}

.menu_button_icon {
  margin-bottom: 5px;
}

.menu_button {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: large;
}

.mat-sidenav {
  width: 200px;
  text-align: center;
  padding: 10px;
  background-color: #F8fafc;
  box-shadow: 4px 4px 20px darkgray;
}

.mat-sidenav-dark {
  width: 200px;
  text-align: center;
  background-color: #404040;
  padding: 10px;
  box-shadow: 4px 4px 20px #303030;
}

mat-divider {
  margin-top: 10px;
  background-color: whitesmoke;
}

