<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-flat-button class="smallButton_popup" color="accent" mat-dialog-close=""><mat-icon class="small_popup">clear</mat-icon></button>
</div>

<div fxFill fxLayout="column" fxLayoutAlign="start start">
  <p mat-dialog-title>Add new session</p>

  <mat-form-field>
    <input matInput [(ngModel)]="name" #nameI="ngModel" required placeholder="Name">
  </mat-form-field>

  <div fxFlexFill fxLayout="column">
    <div style="padding-bottom: 10px" fxFlexFill fxLayout="row">
      <mat-form-field style="width: 15%">
        <input matInput placeholder="Days" min="0" required type="number" #daysI="ngModel" [(ngModel)]="days" [disabled]="unlimited">
      </mat-form-field>
      <mat-checkbox style="margin-top: 10px; margin-left: 10px" color="primary" [(ngModel)]="unlimited">Unlimited</mat-checkbox>
    </div>
    <div fxFlexFill fxLayout="row" fxLayoutAlign="space-between">
      <button mat-flat-button color="accent" (click)="submit()" [disabled]="nameI.invalid || daysI.invalid">Save</button>
    </div>
  </div>
</div>
