<mat-toolbar class="toolbar">
  <mat-form-field class="toolbar-components" fxFlexOffset="15px">
    <input matInput type="text" placeholder="Search">
  </mat-form-field>

  <mat-slide-toggle class="toolbar-components" fxFlexOffset="20px" color="primary">Inactive Only</mat-slide-toggle>

  <mat-form-field class="toolbar-components" fxFlexOffset="20px">
    <mat-label>Group Filter</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option value="Users">Users</mat-option>
      <mat-option value="Administrators">Administrators</mat-option>
      <mat-option value="Management">Management</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<mat-grid-list style="margin-top: 60px" cols="7" rowHeight="1:1">
  <mat-grid-tile *ngFor="let item of iterator; index as counter">
    <div class="block_user" fxLayout="column" fxLayoutAlign="space-around center">
      <div style="margin-top: 10px" class="number_user" fxLayout="column" fxLayoutAlign="center center">
        <div style="color: black; font-size: xx-large">{{ counter + 1 }}</div>
      </div>
      <div style="color: black; font-size: larger">Last Login:</div>
      <div style="color: black; font-size: larger">6.2.2022|17:04:57</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
