<mat-toolbar class="toolbar">
  <mat-form-field class="toolbar-components" fxFlexOffset="15px">
    <input matInput type="text" placeholder="Search" [(ngModel)]="searchExpression">
  </mat-form-field>

  <mat-slide-toggle class="toolbar-components" fxFlexOffset="20px" color="primary">Inactive Only</mat-slide-toggle>

  <mat-form-field class="toolbar-components" fxFlexOffset="20px" color="primary">
    <mat-label>Group Filter</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option value="Users">Users</mat-option>
      <mat-option value="Administrators">Administrators</mat-option>
      <mat-option value="Management">Management</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<mat-card class="users">
  <mat-list>
    <mat-list-item *ngFor="let item of filterData(); even as e; index as i">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{item.name}}</span>
        <button mat-flat-button class="smallButton" color="primary" (click)="openDialog()"><mat-icon class="small">info</mat-icon></button>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>

