<mat-toolbar class="toolbar">
  <mat-form-field class="toolbar-components" fxFlexOffset="15px">
    <input matInput type="text" placeholder="Search" [(ngModel)]="searchExpression">
  </mat-form-field>

<!--  <mat-slide-toggle class="toolbar-components" fxFlexOffset="20px" color="primary" [(ngModel)]="isInactive">Inactive Only</mat-slide-toggle>-->

  <mat-form-field class="toolbar-components" fxFlexOffset="20px" color="primary">
    <mat-label>Group Filter</mat-label>
    <mat-select [(ngModel)]="filterGroup">
      <mat-option [value]="''">None</mat-option>
      <mat-option *ngFor="let group of groupsList" [value]="group.id">{{group.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button class="refresh" color="primary" (click)="refresh()"><mat-icon class="small">refresh</mat-icon></button>
</mat-toolbar>

<mat-card class="users">
  <mat-list>
    <mat-list-item *ngFor="let item of filterData(); even as e; index as i">
      <div fxLayout="row" fxLayoutAlign="space-between center" style="color: {{item.active ? 'black' : 'red; font-weight: bolder;'}}">
        <span>{{item.name}}</span>
        <button mat-flat-button class="smallButton" color="primary" (click)="openDialog(item.id)"><mat-icon class="small">info</mat-icon></button>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>

