<mat-toolbar class="toolbar">
  <mat-form-field class="toolbar-components" fxFlexOffset="15px">
    <input matInput type="text" [(ngModel)]="searchExpression" placeholder="Search">
  </mat-form-field>

  <mat-slide-toggle class="toolbar-components" fxFlexOffset="20px" color="primary" [(ngModel)]="errorOnly">Error Only</mat-slide-toggle>

  <mat-form-field class="toolbar-components" fxFlexOffset="20px">
    <mat-label>Backup Type</mat-label>
    <mat-select [(ngModel)]="backupType">
      <mat-option value="">None</mat-option>
      <mat-option value="FULL">FULL</mat-option>
      <mat-option value="DIFF">DIFF</mat-option>
      <mat-option value="INC">INC</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<div *ngIf="IsLoading" style="margin-top: 70px; z-index: 100" fxLayout="row" fxLayoutAlign="center">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>

<table mat-table *ngIf="!IsLoading" [dataSource]="filterData()" class="table_users">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Time</th>
    <td mat-cell *matCellDef="let element"> {{element.time}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="mac">
    <th mat-header-cell *matHeaderCellDef>MAC</th>
    <td mat-cell *matCellDef="let element"> {{element.mac}}</td>
  </ng-container>

  <ng-container matColumnDef="backup">
    <th mat-header-cell *matHeaderCellDef>Backup</th>
    <td mat-cell *matCellDef="let element"> {{element.backup}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>State</th>
    <td style="color: {{element.state ? 'red' : 'green'}}" mat-cell *matCellDef="let element"> {{element.state ? 'ERROR' : 'SUCCESS'}}</td>
  </ng-container>

  <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef>More Info</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button (click)="openDialog(element.message)" class="smallButton" color="accent"><mat-icon class="small">keyboard_arrow_right</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
