body {
    color: #222;
    background: #fff;
    font: 100% system-ui;
}

.image_login {
    display: flex;
    position: relative;
    top: -30px;
    left: -60px;
}

.slider_login {
    display: flex;
    position: relative;
    top: 10px;
    right: 5px;
}

.top_items_login {
    display: flex;
    justify-content:space-between;
}