<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field class="toolbar-components" fxFlexOffset="15px">
      <input matInput type="text" placeholder="Search">
    </mat-form-field>
    <button mat-raised-button color="primary">New Config</button>
</mat-toolbar>

<mat-card>
    <mat-list style="margin-top: 40px">
        <mat-list-item *ngFor="let item of configs">{{ item }}
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <!-- <button mat-raised-button class="arrow" color="primary"><mat-icon>settings</mat-icon></button> -->
            <button mat-flat-button class="smallButton" color="primary"><mat-icon class="small">settings</mat-icon></button>
            <!-- <button mat-raised-button class="adduser" color="primary"><mat-icon>assignment_ind</mat-icon></button> -->
            <button mat-flat-button class="smallButtonOffset" color="primary"><mat-icon class="small">assignment_ind</mat-icon></button>
            <mat-divider></mat-divider>
          </div>
        </mat-list-item>
    </mat-list>
  </mat-card>


