.config_card {
  margin-top: 10px;
  background-color: whitesmoke;
}

.popupButton {
  z-index: 20;
  bottom: 5px;


  width: 25px;
  height: 30px;
  min-height: unset;
  min-width: unset;
}

.destinations {
  height: 100%;
  width: 98%;
  overflow: auto;
}

mat-form-field.select {
  width: 20%;
}

mat-form-field {
  margin-left: 10px;
}

div.expansion {
  width: 80%;
}

div {
  margin-top: 10px;
}

mat-expansion-panel {
  background-color: whitesmoke;
}

