<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-flat-button class="smallButton_popup" color="primary" mat-dialog-close=""><mat-icon class="small_popup">clear</mat-icon></button>
</div>

<div fxFill fxLayout="column" fxLayoutAlign="start start">
  <p mat-dialog-title>Add new user</p>

  <mat-form-field>
    <input matInput [(ngModel)]="username" placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="password" placeholder="Password" type="password">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="email" placeholder="Email">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="submit()">Save</button>
</div>
