mat-dialog-content {
  width: 100%;
  margin-top: 10px;
}

mat-expansion-panel {
  background-color: whitesmoke;
}

p.mat-dialog-title {
  margin-top: -35px;
}

.checkboxes {
  max-height: 200px;
  margin-bottom: 10px;
  overflow: auto;
}

button {
  padding-bottom: 0px;
}
