<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-flat-button class="smallButton_popup" color="accent" mat-dialog-close=""><mat-icon class="small_popup">clear</mat-icon></button>
</div>

<div fxFill fxLayout="column" fxLayoutAlign="start start">
  <p mat-dialog-title>Client Info</p>
  <p>Name: {{info.name}}</p>
  <p>Last Login: {{info.lastSeen}}</p>
  <p>IP Address: {{info.ip}}</p>
  <p>MAC: {{info.mac}}</p>

  <div fxLayoutGap="20px">
    <button mat-flat-button color="accent" (click)="togglePanelConfigs()">Manage Configurations</button>
<!--    <button mat-flat-button color="primary" (click)="togglePanelGroups()">Add to Group</button>-->
    <button mat-flat-button color="warn" (click)="openConfirmationDialog()">Ban User</button>
  </div>

  <mat-dialog-content *ngIf="renderButton">
    <mat-expansion-panel [expanded]="panelOpenStateConfigs">
      <b>Configurations:</b>
      <div fxLayout="column" fxLayoutAlign="start start" class="checkboxes">
        <mat-checkbox color="primary" (change)="toggleConfig(config)" [checked]="checkConfig(config)" *ngFor="let config of this.configs">{{config.name}}</mat-checkbox>
      </div>
      <button mat-flat-button color="accent" (click)="saveChangesConfig(); panelOpenStateConfigs = false">Save</button>
    </mat-expansion-panel>
  </mat-dialog-content>
</div>
