<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="components">
            <mat-form-field>
                <input matInput type="text" placeholder="Name">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-flat-button class="smallButton_popup" color="primary" mat-dialog-close=""><mat-icon class="small_popup">clear</mat-icon></button>
        </div>
    </div>


    <b>Add default backups for this group:</b>
        <mat-checkbox color="primary">FTP/Local</mat-checkbox>
        <mat-checkbox color="primary">Local</mat-checkbox>
        <mat-checkbox color="primary">Rem. Folder</mat-checkbox>
        <mat-checkbox color="primary">Local/Rem.Folder/Local</mat-checkbox>
        <div fxLayout="row">
            <button mat-raised-button color="primary" mat-dialog-close="">Save</button>
        </div>
</div>
