<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="components">
            <mat-form-field>
                <input matInput type="text" placeholder="Name" [(ngModel)]="info.name">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-flat-button class="smallButton_popup" color="primary" mat-dialog-close=""><mat-icon class="small_popup">clear</mat-icon></button>
        </div>
    </div>


<!--    <b>Add default backups for this group:</b>&ndash;&gt;-->
<!--        <mat-checkbox color="primary" (change)="toggle(config)" [checked]="check(config)" *ngFor="let config of configsService.configs">{{config.name}}</mat-checkbox>&ndash;&gt;-->
        <div fxLayout="row">
            <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
        </div>
</div>
