<div [style]="'width: ' + widthCalc() + 'px;' + 'height: ' + heightCalc() + 'px;'">
  <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="left space-evenly center">

    <mat-form-field class="toolbar-components">
      <input matInput type="text" placeholder="Name">
    </mat-form-field>

    <mat-form-field class="toolbar-components" fxFlexOffset="20px" color="primary">
      <mat-label>Intensity</mat-label>
      <mat-select #typeOfBackup value="Full">
        <mat-option value="Full">Full</mat-option>
        <mat-option value="Differential">Differential</mat-option>
        <mat-option value="Incremental">Incremental</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [style.width.%]="5" class="toolbar-components" fxFlexOffset="20px" color="primary">
      <mat-label>Retention</mat-label>
      <input matInput type="number" min="1" max="30" [defaultValue]="3">
    </mat-form-field>

    <mat-form-field [style.width.%]="5" class="toolbar-components" fxFlexOffset="20px" color="primary" *ngIf="typeOfBackup.value!=='Full'">
      <mat-label>Packages</mat-label>
      <input matInput type="number" min="1" max="30" [defaultValue]="3">
    </mat-form-field>

    <mat-form-field class="toolbar-components" fxFlexOffset="20px" color="primary">
      <mat-label>Backup Type</mat-label>
      <mat-select>
        <mat-option value="Plain Text">Plain Text</mat-option>
        <mat-option value="Archive">Archive</mat-option>
      </mat-select>
    </mat-form-field>

    <span class="spacing"></span>
      <button mat-flat-button class="popupButton" color="primary" mat-dialog-close=""><mat-icon class="small">close</mat-icon></button>
  </mat-toolbar>

  <mat-card fxLayout="row" fxLayoutAlign="start stretch" [ngSwitch]="typeOfTiming.value">
    <div fxLayout="column" fxLayoutAlign="start start">
      <mat-form-field class="timing-components">
        <mat-select #typeOfTiming value="Daily">
          <mat-option value="Daily">Daily</mat-option>
          <mat-option value="Weekdays">Weekdays</mat-option>
          <mat-option value="month">Day in Month</mat-option>
          <mat-option value="CRON">CRON</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="timing-components" *ngIf="typeOfTiming.value!=='CRON'">
        <input matInput type="time">
      </mat-form-field>

      <mat-form-field class="timing-components">
        <mat-select value="UTC(+0)" placeholder="Timezone">
          <mat-option *ngFor="let timezone of Timezones" [value]="timezone">{{timezone}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'Weekdays'">
      <app-day-selection-content></app-day-selection-content>
    </div>

    <div *ngSwitchCase="'month'" class="day-month">
      <app-day-in-month-selection-content></app-day-in-month-selection-content>
    </div>

    <div *ngSwitchCase="'CRON'">
      <app-cron-content></app-cron-content>
    </div>
  </mat-card>

  <app-config-destination-content></app-config-destination-content>

  <div class="lower-bar" fxLayout="row" fxLayoutGap="827px">
    <button mat-raised-button color="primary">Add Source</button>
    <button mat-raised-button color="primary" mat-dialog-close="">Save</button>
  </div>

</div>
