.toolbar {
  background-color: white;
  display: flex;
  position: -webkit-sticky;
  z-index: 1000;
  border: darkgray solid;
}

.toolbar-components {
  font-size: small;
  margin-top: 5px;
  font-weight: normal;
}

.lower-bar {
  position: relative;
  top: 80px;
}

.timing-components {
  font-size: small;
  margin-top: 5px;
  margin-right: 20px;
  font-weight: normal;
}

.popupButton {
  z-index: 20;
  margin-top: 15px;

  width: 25px;
  height: 30px;
  min-height: unset;
  min-width: unset;
}

.spacing {
  flex: 1 1 auto;
}

.day-month {
  width: 350px;
}

mat-card {
  margin-top: 10px;
  background-color: whitesmoke;
}

.destinations {
  width: 50%;
  height: 34%;
  display: inline-block;
}

.save {
  position: relative;
  bottom: 36px;
}

.bottom_buttons {
  position: relative;
  bottom: calc(100vh - 105vh);
}

