<div [style]="'width: ' + widthCalc() + 'px;' + 'height: ' + heightCalc() + 'px;'">
  <mat-toolbar [class]="sessions.loadMode() ? 'toolbar_dark' : 'toolbar_light'" fxLayout="row" fxLayoutAlign="left space-evenly center">

    <mat-form-field class="toolbar-components">
      <input matInput type="text" placeholder="Name" [(ngModel)]="config.name">
    </mat-form-field>

    <mat-form-field class="toolbar-components" fxFlexOffset="20px" color="primary">
      <mat-label>Intensity</mat-label>
      <mat-select [(ngModel)]="config.backupType">
        <mat-option [value]="1">Full</mat-option>
        <mat-option [value]="2">Differential</mat-option>
        <mat-option [value]="3">Incremental</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [style.width.%]="5" class="toolbar-components" fxFlexOffset="20px" color="primary">
      <mat-label>Retention</mat-label>
      <input matInput type="number" min="1" max="30" [(ngModel)]="config.retentionSize">
    </mat-form-field>

    <mat-form-field [style.width.%]="5" class="toolbar-components" fxFlexOffset="20px" color="primary" *ngIf="config.backupType != 1">
      <mat-label>Packages</mat-label>
      <input matInput type="number" min="1" max="30" [(ngModel)]="config.packageSize">
    </mat-form-field>

    <mat-form-field class="toolbar-components" fxFlexOffset="20px" color="primary">
      <mat-label>Backup Type</mat-label>
      <mat-select [(ngModel)]="config.fileType">
        <mat-option [value]="true">Plain Text</mat-option>
        <mat-option [value]="false">Archive</mat-option>
      </mat-select>
    </mat-form-field>

    <span class="spacing"></span>
      <button mat-flat-button class="popupButton" color="accent" mat-dialog-close=""><mat-icon class="small">close</mat-icon></button>
  </mat-toolbar>

  <mat-card fxLayout="row" fxLayoutAlign="start stretch" [ngSwitch]="typeOfTiming.value">
    <div fxLayout="column" fxLayoutAlign="start start">
      <mat-form-field class="timing-components">
        <mat-select #typeOfTiming [(ngModel)]="config.backupFrequency">
          <mat-option value="d">Daily</mat-option>
          <mat-option value="w">Weekdays</mat-option>
          <mat-option value="m">Day in Month</mat-option>
          <mat-option value="c">CRON</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="timing-components" *ngIf="typeOfTiming.value!=='c'">
        <input matInput type="time" [(ngModel)]="time">
      </mat-form-field>

      <mat-form-field class="timing-components">
        <mat-select [(ngModel)]="config.timeZone" placeholder="Timezone">
          <mat-option *ngFor="let timezone of Timezones" [value]="timezone">{{timezone}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'w'">
      <app-day-selection-content [(weekdays)]="weekdays"></app-day-selection-content>
    </div>

    <div *ngSwitchCase="'m'" class="day-month">
      <app-day-in-month-selection-content [(days)]="days"></app-day-in-month-selection-content>
    </div>

    <div *ngSwitchCase="'c'">
      <app-cron-content [(weekdays)]="cweekdays" [(days)]="cdays" [(minutes)]="minutes" [(hours)]="hours" [(months)]="months"></app-cron-content>
    </div>
  </mat-card>

  <app-config-destination-content class="destinations" [(destinations)]="tmpDestinations" [configID]="config.id"></app-config-destination-content>
  <app-config-source-content class="destinations" [(sources)]="tmpSource" [configID]="config.id"></app-config-source-content>

  <div fxLayout="row" [fxLayoutAlign]="idDetail != -1 ? 'space-between' : 'end'" class="bottom_buttons">
    <button mat-flat-button color="warn"*ngIf="idDetail != -1" (click)="deleteConfig()">Delete</button>
    <button mat-flat-button color="accent" (click)="saveChanges()">{{idDetail != -1 ? 'Save' : 'Create'}}</button>
  </div>

</div>
