<div>
  <button mat-flat-button color="primary" (click)="add(path.value);path.value=''">Add Source</button>
  <mat-form-field>
    <input matInput [style.width.%]="100" #path placeholder="Path" value="">
  </mat-form-field>
</div>

<div class="sources">
  <mat-card class="config_card" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let source of sources">
    <span>{{source.path}}</span>
    <button mat-flat-button class="popupButton" color="warn" (click)="delete(source)"><mat-icon class="small">delete</mat-icon></button>
  </mat-card>
</div>
