<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field class="toolbar-components" fxFlexOffset="15px">
    <input matInput type="text" placeholder="Search" [(ngModel)]="searchExpression">
  </mat-form-field>
  <button mat-flat-button color="accent" (click)="openDialogConfig(-1)">New Group</button>
</mat-toolbar>

<mat-card>
  <div *ngIf="IsLoading" style="margin-top: 15px" fxLayout="row" fxLayoutAlign="center">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <mat-list>
      <mat-list-item *ngFor="let item of filterData()">{{ item.name }}
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-flat-button class="smallButtonOffset" color="accent" (click)="openDialogEdit()"><mat-icon class="small">person_add</mat-icon></button>
          <button mat-flat-button class="smallButton" color="accent" (click)="openDialogConfig(item.id)"><mat-icon class="small">settings</mat-icon></button>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
  </mat-list>
</mat-card>
