
<div fxLayout="row" fxLayoutAlign="start center" class="log_div">
  <p style="margin-right: 5px">Store full reports for: </p>
  <mat-form-field style="width: 30px">
    <input matInput style="font-size: large; text-align: center">
  </mat-form-field>
  <p style="margin-left: 5px">days:</p>
</div>
<div fxLayout="row" fxLayoutAlign="start center" class="log_div">
  <p style="margin-right: 5px">Store error only reports for: </p>
  <mat-form-field style="width: 30px">
    <input matInput style="font-size: large; text-align: center">
  </mat-form-field>
  <p style="margin-left: 5px">days:</p>
</div>
