<button mat-raised-button color="primary" style="margin: 10px 10px">Add user</button>

<mat-card fxLayout="row" fxLayoutAlign="start">
  <mat-list style="margin-left: 10px; border: darkgray solid">
    <mat-list-item>
      admin
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      admin
    </mat-list-item>
  </mat-list>

  <mat-list style="border: darkgray solid">
    <mat-list-item>
      admin
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      admin
    </mat-list-item>
  </mat-list>
</mat-card>
