<title>Dashboard</title>

<mat-sidenav-container class="dashboard_sidenav">
  <mat-sidenav mode="side" opened [fixedInViewport]="true">

    <button fxLayoutAlign="center" mat-raised-button (click)="goGeneral()" color="primary" class="menu_button">General</button>

    <button fxLayoutAlign="center" mat-raised-button (click)="goLogs()" color="primary" class="menu_button">Logs</button>

    <button fxLayoutAlign="center" mat-raised-button (click)="goUsers()" color="primary" class="menu_button">Users</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
