<div fxLayout="column" fxLayoutAlign="start start" class="log_div">
  <div fxLayout="row" fxLayoutAlign="start center">
    <p>Store full reports for: </p>
    <mat-form-field>
      <input matInput type="number">
    </mat-form-field>
    <p>days:</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <p>Store error only reports for: </p>
    <mat-form-field>
      <input matInput type="number">
    </mat-form-field>
    <p>days:</p>
  </div>
  <button mat-raised-button color="primary">Save</button>
</div>
