<img src="\assets\Logo.png" class="image_login" width="300" height="300" />

<div fxLayoutAlign="center">
  <mat-card fxFlex="40vh" class="login_card">
    <mat-toolbar color="primary">Login</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field fxFlexOffset="10px">
          <input placeholder="Username" matInput>
        </mat-form-field>

        <mat-form-field>
          <input type="password" placeholder="Password" matInput>
        </mat-form-field>

        <button (click)="submit()" mat-raised-button color="primary">Sign in</button>
      </form>
  </mat-card>
</div>
