<div fxFill fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="30%" class="login_card">
    <mat-toolbar color="primary">Login</mat-toolbar>

      <form [formGroup]="form" (ngSubmit)="login()" fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field fxFlexOffset="10px">
          <input formControlName="login" placeholder="Username" matInput>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" type="password" placeholder="Password" matInput>
        </mat-form-field>

        <button type="submit" mat-raised-button color="accent">Sign in</button>
      </form>

  </mat-card>
</div>

<div class="info_card_container" *ngIf="errorMessage != ''">
    <p>{{errorMessage}}</p>
</div>

<img src="\assets\Logo.png" class="image_login" width="200" height="200" />

<div *ngIf="IsLogging" class="spinner_bg"></div>

<div *ngIf="IsLogging" fxFill fxLayout="row" fxLayoutAlign="center center" class="spinner_container">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>

