<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-flat-button class="smallButton_popup" color="primary" mat-dialog-close><mat-icon class="small_popup">clear</mat-icon></button>
</div>

<div fxFill fxLayout="column" fxLayoutAlign="start start">
  <p mat-dialog-title fxLayout="row" fxLayoutAlign="center stretch" style="margin-top: -35px">Report Info</p>
  <p>Name: PC-1 | MAC 14:A4:4V:13:A7:F5</p>
  <p>Date: 6.2.2022 | Time: 16:03:46 | Timezone: CET (+0)</p>
  <p>Configuration Name: 1-FTP/LOCAL</p>
  <p class="red">Error: FTP credentials invalid</p>
</div>
