mat-icon.small {
  position: relative;
  bottom: 3px;
  right: 12px;
  z-index: 30;
}

button.smallButton {
  position: relative;
  bottom: 8px;
  right: 0;
  z-index: 20;

  width: 30px;
  height: 30px;
  min-height: unset;
  min-width: unset;
}
